#noBorder * {
  border-style: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

div {
  border-color: purple;
  justify-content: center;
}

p {
  border-color: blue;
  padding: 60px;
}

span {
  border-color: green;
  width: 500px;
  justify-content: center;
}

h1 {
  font-size: 56px;
}


body * {
  border-style: solid;
  font-family: Arial;
}

div, p, span {
  font-size: 24px;
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

div #p1 {
  font-size: 32px;
}

div + p {
  background-color: #3a9cc9;
}

div div {
  border-color: red;
  margin: 0;
  margin-bottom: 40px;
}

div > p {
  background-color: #e3cab3;
  width: 950px;
}

div a {
  border-color: aqua;
  text-decoration: none;
}

span > a {
  border-radius: 50px;
  padding: 20px;
}

span a:hover {
  color: aqua;
}

div + div {
  padding: 40px;
}

div > img {
  border-style: none;

}

div #link {
  margin: 40px;
  font-size: 32px;
}

div #link:hover {
  color: aqua;
}


b {
  text-align: center;
}

a img {
  border-radius: 30px;
  height: 300px;
}

a img:hover {
  width: 1600px;
  height: 400px;
}

#hosplay2 + div {
  font-family: Serif;
}
